* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #4285f4;
}

.morpion {
    position: relative;
    display: grid;
}

.morpion .titre {
    grid-column: span 3;
    height: 30px;
    text-align: center;
    border: 0;
    padding: 10px;
    font-size: 19px;
}

.morpion span {
    display: grid;
    width: 60px;
    height: 60px;
    border: 1px solid white;
    color: white;
    background-color: #0c2835;
    place-items: center;
    cursor: pointer;
}

.morpion span:active {
    background-color: #Fa1;
}

.morpion span.joueur1 {
    grid-column: span 2;
    background-color: #4285f4;
    text-align: center;
}

.morpion span.joueur2 {
    background-color: #4285f4;
    text-align: center;
}